<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR!</title>

    <link href="/static/css/error.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="errortext">
            <h1>Oops! Something went wrong... </h1>
            <h2>Go grab a coffee or go back <a href="/">home</a>.</h2>
            <h3> {{ error_message }} </h3>
        </div>
    </div>
</body>
</html>



    